// COLORS
$primary-color: #0b3712;
$secondary-color: #0e701f;

$white-color: #000000;

$dark-grey: #333333;
$light-grey: #0e701f;

$dark-blue-text: #0e701f; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
