// COLORS
$primary-color: #0e3b16;
$secondary-color: #0e701f;

$third-color: #87f39b;
$fourth-color: #2fb846;

$white-color: #000000;

$black-color: #87f39b;

$dark-grey: #5fd673;
$light-grey: #0e701f;

$dark-blue-text: #0e701f; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
$small-font-size: 2rem;
