// COLORS
$primary-color: #1f4690;

$secondary-color: #3a5ba0;

$white-color: #fff;

$dark-grey: #ffa500;
$light-grey: #ffe5b4;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
