// COLORS
// $primary-color: #fc00ff;
// $secondary-color: #00dbde;

$primary-color: #24C6DC;
$secondary-color: #514A9D;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
