// COLORS
$primary-color: #780206;
$secondary-color: #061161;

$white-color: #fff;

$dark-grey: #0f0c29;
$light-grey: #302b63;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
