// COLORS
$primary-color: #760496;
$secondary-color: #cb2a05;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
