// COLORS
$primary-color: #022bb0;
$secondary-color: #00cdac;

$white-color: rgb(253, 253, 253);

$dark-grey: #333333;
$light-grey: #ffffff;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
