// Section
section {
  padding: 5rem 0rem;

  // Responsive for Section
  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/*---HERO SECTION---*/
#welcome-section {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // Responsive for welcome-section
  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  #opening-text {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    // Responsive for opening text
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  #opening-paragraph {
    display: flex;
    // Responsive for opening paragraph
    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;
      // Responsive for opening paragraph a
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

/* ---ABOUT SECTION--- */
#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  height: 95vh;
  margin-top: 100vh;
  border-top: 0px;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3),
    0px 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  // Responsive for About
  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      // Responsive for about image
      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

    &__info {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      &-text {
        text-align: left;

        // Responsive for about text
        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: center;
        }
        @include respond(phone) {
          font-size: 1.6rem;
          text-align: center;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          // Responsive for important about text
          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}

/*---PROJECTS SECTION---*/
#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  // Responsive for projects section
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;
    // Responsive for project-wrapper
    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;
      // Responsive for projects row containers
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;
      // Responsive for project-wrapper text
      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;
        // Responsive for project-title
        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      // Responsive for project-wrapper image
      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
        // Responsive for project-wrapper thumbnail
        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

/*---CONTACT SECTION---*/
#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text,
    a {
      font-size: 2.4rem;
      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
