@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;
@use "../layout/grid" as *;

#contact {
  @include horizontal-container;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding-top: 15rem;
  padding-bottom: 10rem;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include media-mobile-and-tablet-only {
    padding-top: 10rem;
    padding-bottom: 10rem;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .section-title {
    margin-bottom: 4.5rem;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      @include media-mobile-only {
        font-size: 2rem;
      }
    }
  }
}
