@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;
@use "../layout/grid" as *;

#hero {
  @include horizontal-container;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  margin-bottom: 0;

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include media-mobile-and-tablet-only {
      font-size: 3.6rem;
      text-align: center;
    }

    @include media-mobile-only {
      font-size: 3.5rem;
      line-height: 1.5;
    }

    @media (max-width: 390px) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include media-mobile-and-tablet-only {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include media-mobile-only {
        font-size: 2rem;
      }
    }
  }
}
